/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.hit.scan {
    background-color:darkorange;
}

.sink.scan {
    background-color: darkred;
}

.miss.scan {
    background-color: darkblue;
}

.scan {
    background-color: gray;
}

.hidden {
    background-color: white;
}

.hidden.scan {
    background-color: lightgray;
}

.attackTable {
    border: 1px solid black;
    text-align: center;
    width: 100%;

}
.tableCaption {
    border: 1px solid black;
}

.attackTable td {
     border: 1px solid black;
     height: 30px;
     width: 30px;
}

.boardElement {
    display: inline-block;
}

li.shipButton { 
    display: block;
}

li.scanButton {
    display: none;
}

.div-inline{
	display: inline-block;
}
