<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<table id="opponent" class="battleGrid" class="boardElement">
</table>


<ul class="boardElement">
    <li><button id="place_minesweeper" class="shipButton">Place Minesweeper</button></li>
    <li><button id="place_destroyer" class="shipButton">Place Destroyer</button></li>
    <li><button id="place_battleship" class="shipButton">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical" class="shipButton">Vertical</input></li>
</ul>


<table id="player" class="battleGrid" class="boardElement">
</table>



<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>