<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<div id="status">
    <h3>Setup phase</h3>
    Click on a ship button to select a ship for placement,<br>
    Click on a square on your board to place the selected ship,<br>
    Check the <i>Vertical</i> box to place a ship in vertical direction,<br>
    The attack phase will start once all 3 ships are placed.
</div>

<div class="div-inline">
The opponent's board
<table id="opponent" class="battleGrid" class="boardElement">
</table>
</div>

<div class="div-inline">
    Your board
    <div class="boardElement">
        <button id="place_minesweeper">Place Minesweeper</button>
        <button id="place_destroyer">Place Destroyer</button>
        <button id="place_battleship">Place Battleship</button>
        <input type="checkbox" id="is_vertical"><span id="vertical_caption">Vertical</span>
    </div>
<table id="player" class="battleGrid" class="boardElement">
</table>
</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>