<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<div class="div-inline">
The opponent's board
<table id="opponent" class="battleGrid" class="boardElement">
</table>
</div>

<div class="div-inline">
    Your board
    <div class="boardElement">
        <button id="place_minesweeper">Place Minesweeper</button>
        <button id="place_destroyer">Place Destroyer</button>
        <button id="place_battleship">Place Battleship</button>
        <input type="checkbox" id="is_vertical">Vertical</input>
    </div>
<table id="player" class="battleGrid" class="boardElement">
</table>
</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>